* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.wavy {
  filter: url("#wavy");
}

html {
  font-size: 22px;
  font-family: "Space Grotesk", "Epilogue", sans-serif;
  font-style: normal;
  font-weight: 400;
}

::-moz-selection {
  color: var(--color);
  background: var(--black);
}

::selection {
  color: var(--color);
  background: var(--black);
}

@keyframes hue-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.vw-animate {
  animation: 30s linear 0s infinite normal none running hue-rotate;
}


@keyframes noise {
  0% {
    transform: translate3d(0, 9rem, 0);
  }
  10% {
    transform: translate3d(-1rem, -4rem, 0);
  }
  20% {
    transform: translate3d(-8rem, 2rem, 0);
  }
  30% {
    transform: translate3d(9rem, -9rem, 0);
  }
  40% {
    transform: translate3d(-2rem, 7rem, 0);
  }
  50% {
    transform: translate3d(-9rem, -4rem, 0);
  }
  60% {
    transform: translate3d(8rem, 6rem, 0);
  }
  70% {
    transform: translate3d(-7rem, -8rem, 0);
  }
  80% {
    transform: translate3d(5rem, 5rem, 0);
  }
  90% {
    transform: translate3d(-6rem, -5rem, 0);
  }
  100% {
    transform: translate3d(8rem, -9rem, 0);
  }
}
