@import "sal.js/dist/sal.css";
@import "normalize.css";

@import "variables.pcss";

@import "global.pcss";
@import "cursor.pcss";
@import "logo.pcss";
@import "header.pcss";
@import "intro.pcss";
@import "project.pcss";
@import "testimonial.pcss";
@import "team.pcss";
@import "footer.pcss";
