.testimonial {
  display: flex;
  justify-content: flex-end;
  padding: var(--padding);
}

.testimonial > div {
  width: calc(100vw - var(--padding) - var(--padding));
  max-width: calc(100vw - var(--padding) - var(--padding));
  padding: var(--padding);
  background: linear-gradient(128.53deg, #2e2e2e 16.55%, #0e0e0e 89.4%);
  overflow: hidden;
}

.testimonial h2 {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 500;
}


.testimonial.knalgeel {
  background: linear-gradient(0deg, black, #181709);
}

.testimonial.knalgeel > div {
  background: #ffe900;
  background: color(display-p3 1 0.894 0);
  color: var(--black);
}

.testimonial img {
  margin-top: 0.5rem;
}

.testimonial.vettewebsite {
  padding-top: 0;
}

.testimonial.vettewebsite > div {
  background: linear-gradient(45deg, rgb(256, 0, 0) 0%, rgb(256, 73, 0) 100%);
  background: linear-gradient(
    45deg,
    color(display-p3 1 0 0) 0%,
    color(display-p3 1 0.287 0) 100%
  );
  color: var(--white);
}


@media only screen and (min-width: $br-xs) {
  .testimonial h2 {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: $br-sm) {
  .testimonial h2 {
    font-size: 2.8rem;
  }
}

@media only screen and (min-width: $br-lg) {
  .testimonial > div {
    width: calc(66%);
  }
}