* {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  box-sizing: border-box;
}

html {
  font-size: 22px;
}

:root {
  --padding: 1rem;
}

.logo {
  position: fixed;
  left: var(--padding);
  top: var(--padding);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: start;
}

header {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-video {
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url("/videos/header/placeholder.png");
  background-size: cover;
  background-position: center;
  object-fit: cover;
  object-position: center;
}

header > h1 {
  margin: 2rem;
  position: relative;
  z-index: 2;
  font-size: 2.5rem;
  line-height: 0.9em;
  text-align: center;
  color: var(--black);
}

header > h1 > span.active {
  color: var(--white);
  text-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
}

.intro {
  display: flex;
  justify-content: flex-end;
  padding: var(--padding);
}

.intro div {
  width: calc(100vw - var(--padding) - var(--padding));
  max-width: calc(100vw - var(--padding) - var(--padding));
  padding: var(--padding);
  background: rgb(255 255 255 / 10%);
}

.intro h2 {
  font-size: 3rem;
  margin: 0;
}

.circle {
  position: fixed;
  z-index: 999;
  left: -200px;
  top: -200px;
  border: solid 2px var(--white);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  pointer-events: none;
}

.project {
  height: 100vh;
  position: relative;
  padding: var(--padding);
  background: #000000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.project-description {
  position: absolute;
  top: 50%;
  left: var(--padding);
  color: var(--white);
  transform: translateY(-50%);
  z-index: 2;
}

.project-description > h2 {
  font-size: 1.5rem;
  line-height: 0.9em;
}

.project-video-container {
  overflow: hidden;
  position: relative;
  height: calc(100vh - var(--padding) - var(--padding));
  width: calc(100vw - var(--padding) - var(--padding));
  max-width: calc(100vw - var(--padding) - var(--padding));
}

.project-video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background: transparent;
}

@media only screen and (min-width: 375px) {
  :root {
    --padding: 2rem;
  }

  header > h1 {
    font-size: 3rem;
  }

  .project-description > h2 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 600px) {
  :root {
    --padding: 3rem;
  }

  header > h1 {
    font-size: 5rem;
  }

  .project-description > h2 {
    font-size: 3rem;
  }

  .project-video-container,
  .intro div {
    width: calc(120vh - 6em);
  }
}

#light-button {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%) translateY(-50%);
  color: var(--white);
  border: 2px solid var(--white);
  cursor: pointer;
  border-radius: 0;
  background: transparent;
  text-transform: uppercase;
  padding: 0.5em 1em;
  font-size: 2em;
}

#light-button:focus {
  outline: 0;
  border-color: var(--orange);
}

#light-audio {
  display: none;
}
