* {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

html {
  font-size: 22px;
}

.logo-background {
  z-index: 2;
  position: fixed;
  width: 210px;
  height: 140px;
  background: var(--orange);
  mix-blend-mode: screen;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: saturate(0) blur(5px);
}

.logo {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: start;
}

header {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

header > canvas {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header > .coal-overlay {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  opacity: 0;
}

header > canvas:focus {
  outline: 0;
}

header > h1 {
  margin: 2rem;
  position: relative;
  z-index: 2;
  color: var(--orange);
  font-size: 2.5rem;
  line-height: 0.9em;
  text-align: center;
}

@media only screen and (min-width: 375px) {
  header > h1 {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 600px) {
  header > h1 {
    font-size: 5rem;
  }
}

main {
  position: relative;
  z-index: 3;
  margin-top: calc(-50vh + 100px);
  opacity: 0;
  color: var(--white);
}

.container {
  max-width: 1024px;
  padding: 0 3rem;
  margin: 0 auto;
}

.introduction {
  text-align: center;
  font-size: 1.6em;
}

/* Projects */

.projects {

}

.project {
  margin: 5rem 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.project-preview {
  flex: 0 0 66.66667%;
  padding-bottom: 40%;
  background: var(--white);
}

.project-info {
  flex: 0 0 33.33333%;
}

/* Quote */

.quote {
  padding: 5rem 0;
  text-align: center;
  transform: skew(-10deg) rotate(-8deg);
}

.quote-content {
  color: var(--orange);
  font-size: 2.5rem;
  line-height: 0.9em;
  max-width: 900px;
  margin: 0 auto;
}

.quote-by {
  font-size: 1.5rem;
}

/* Footer */

footer {
  padding-top: 5rem;
  background: var(--white);
  color: var(--black);
}

footer > div {
  flex: 1;
}

/* Rainbow */

.rainbow {
  padding-top: 5rem;
  display: flex;
}


.rainbow-color {
  cursor: pointer;
  flex: 1;
  height: 10px;
  transform-origin: bottom center;
  transition: 0.1s ease-in-out;
}
.rainbow-color:hover {
  transform: scaleY(2);
}

.circle {
  position: fixed;
  z-index: 999;
  left: -200px;
  top: -200px;
  border: solid 2px var(--orange);
	width: 60px; 
	height: 60px; 
  border-radius: 50%;  
  pointer-events: none;
}